html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e5ff96;
  background-image: url("https://download.hipwallpaper.com/desktop/1600/900/34/2/wbNgmd.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: Pangolin;
  color: #fff70a;
  text-shadow: 1px 1px #a232a8;
  font-size: 55;
  position: relative;
  top: 20px;
}

#create-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  text-shadow: 1px 1px yellow;
  font-size: 20;
}

.postcardCreator {
  text-align: center;
}

input {
  width: 75%;
  height: 30px;
  padding: 3px;
  border: 2px dotted red;
  border-radius: 3px;
  margin: 1px;
}

textarea {
  width: 75%;
  padding: 3px;
  border: 2px dotted red;
  border-radius: 3px;
  margin: 1px;
}

textarea::placeholder {
  font-size: 16;
  font-weight: thin;
  color: lightgrey;
  font-family: Arial;
}

input::placeholder {
  text-align: left;
  font-size: 16;
  font-weight: thin;
  color: lightgrey;
}

button {
  margin: 10px;
  height: 30px;
  background-color: lightcyan;
  border-radius: 5px;
  font-weight: thin;
  font-size: 16;
  border: 2px dotted red;
}

#input-message {
  height: 20%;
}

#pre-text {
  text-align: center;
  position: relative;
  top: 185px;
  color: black;
}

.postcardDisplayed {
  display: inline-block;
  border: 9px solid black;
  border-image: url("https://i.ya-webdesign.com/images/create-png-photoshop-1.png")
    10 round;
  background-color: yellow;
  padding: 10px;
  width: 591px;
  height: 399px;
  margin: 20px;
  font-family: Pangolin;
  font-size: 18;
  color: white;
  overflow: hidden;
  z-index: -1;
}

#from-text,
#currently-in-text,
#to-text {
  color: rgb(169, 255, 152);
}

#addedImage {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 180px;
  left: 540px;
  z-index: 0;
}

#date {
  position: relative;
  top: 0;
  left: 10px;
}

#left-side {
  position: relative;
  top: 0;
  left: 10px;
  z-index: 1;
  width: 250px;
  height: 400px;
}

#right-side {
  position: relative;
  top: 0;
  left: 20px;
  z-index: 1;
  width: 300px;
  height: 400px;
}

/* #date {
  background-color: rgba(179, 167, 112, 0.4);
  z-index: 1;
} */

#date {
  background-color: rgba(179, 112, 179, 0.4);
  z-index: 1;
}

/* #senderName,
#senderLocation,
#recipientName,
#recipientEmail {
  background-color: rgba(84, 78, 52, 0.4);
} */

#senderName,
#senderLocation,
#recipientName,
#recipientEmail,
#message {
  background-color: rgba(0, 11, 75, 0.482);
}

#date {
  text-align: center;
  position: relative;
  top: -5px;
  left: -10px;
  margin: 2px;
  width: 600px;
}

#vertical-line {
  border-left: 2px solid white;
  height: 290px;
  position: absolute;
  top: 230px;
  left: 840px;
  z-index: 1;
}
