h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff70a;
    text-shadow: 1px 1px #a232a8;
    font-size: 42;
}

#create-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-shadow: 1px 1px yellow;
    font-size: 20;
}

.postcardCreator {
    text-align: center;
}

input {
    width: 30%;
}

input::placeholder {
    text-align: left;
    font-size: 14;
    font-weight: bold;
    color: rgb(0, 145, 255);
}

#input-message {
    height: 20%;
}