html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e5ff96;
  background-image: url("https://download.hipwallpaper.com/desktop/1600/900/34/2/wbNgmd.jpg");
  background-size: cover;
}

#header {
  position: relative;
  top: 10px;
  left: 50px;
  /* left: 85px; */
}

h1 {
  /* text-align: center; */
  font-family: Pangolin;
  color: rgb(255, 255, 0);
  text-shadow: 3px 3px 3px rgb(255, 73, 41);
  font-size: 45;
  position: relative;
  top: 15px;
  letter-spacing: 3px;
}

#header-pic {
  position: absolute;
  top: 10px;
  left: 503px;
}

/* #instructions {
  position: absolute;
  top: 70px;
  left: 300px;
  font-family: Pangolin;
  font-size: 18;
  font-style: italic;
  color: blue;
} */

#create-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  text-shadow: 1px 1px yellow;
  font-size: 20;
}

.postcardCreator {
  text-align: center;
}

input {
  width: 75%;
  height: 30px;
  padding: 3px;
  border: 2px dotted red;
  border-radius: 5px;
  margin: 1px;
  box-shadow: 3px 3px 3px rgb(3, 70, 129);
}

textarea {
  width: 75%;
  padding: 3px;
  border: 2px dotted red;
  border-radius: 5px;
  margin: 1px;
  box-shadow: 3px 3px 3px rgb(3, 70, 129);
}

textarea::placeholder {
  font-size: 16;
  font-weight: thin;
  color: lightgrey;
  font-family: Pangolin;
  font-size: 17;
}

input::placeholder {
  text-align: left;
  font-size: 17;
  font-weight: thin;
  color: lightgrey;
  font-family: Pangolin;
}

label {
  font-size: 17;
  font-weight: thin;
  font-family: Pangolin;
  color: blue;
  background-color: rgb(255, 240, 223);
  padding: 7px;
  border: 2px dotted red;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(113, 113, 232);
}

#optional-text {
  font-size: 10;
}

#upload-image-button {
  float: left;
  position: relative;
  left: 83px;
  top: -3px;
}

#send-postcard-button {
  font-size: 17;
  font-weight: thin;
  font-family: Pangolin;
  position: relative;
  right: 72px;
  top: -30px;
  float: right;
  height: 40px;
}

button {
  margin: 10px;
  height: 35px;
  background-color: rgb(95, 255, 71);
  box-shadow: 2px 2px green;
  border-radius: 5px;
  font-weight: thin;
  font-size: 16;
  border: 2px dotted red;
  color: blue;
}

#input-message {
  height: 20%;
}

#pre-text {
  text-align: center;
  position: relative;
  top: 370px;
  color: black;
}

.postcardDisplayed {
  display: inline-block;
  border: 9px solid black;
  border-image: url("https://i.ya-webdesign.com/images/create-png-photoshop-1.png")
    10 round;
  box-shadow: 3px 3px 3px rgb(3, 70, 129);
  background-color: yellow;
  padding: 10px;
  width: 591px;
  height: 399px;
  margin: 20px;
  font-family: Pangolin;
  font-size: 18;
  color: white;
  overflow: hidden;
  z-index: -1;
}

#from-text,
#currently-in-text,
#to-text,
#colon {
  color: rgb(169, 255, 152);
}

#currently-in-text {
  color: rgb(255, 255, 108);
}

#addedImage {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 155px;
  left: 547px;
  z-index: 0;
}

#date {
  position: relative;
  top: 0;
  left: 10px;
}

#left-side {
  position: relative;
  top: 0;
  left: 10px;
  z-index: 1;
  width: 300px;
  height: 400px;
}

#right-side {
  position: relative;
  top: 0;
  left: 20px;
  z-index: 1;
  width: 350px;
  height: 400px;
}

/* #date {
  background-color: rgba(179, 167, 112, 0.4);
  z-index: 1;
} */

#date {
  background-color: rgba(179, 112, 179, 0.4);
  z-index: 1;
}

/* #senderName,
#senderLocation,
#recipientName,
#recipientEmail {
  background-color: rgba(84, 78, 52, 0.4);
} */

#senderName,
#senderLocation,
#recipientName,
#recipientEmail,
#message {
  background-color: rgba(0, 11, 75, 0.482);
}

/* #sender-info {
  position: relative;
  top: 280px;
  left: 10px;
} */

#date {
  text-align: center;
  position: relative;
  top: -5px;
  left: -10px;
  margin: 2px;
  width: 500px;
}

#message {
  border: 3px dotted rgb(169, 255, 152);
  padding: 3px;
}

#vertical-line {
  border-left: 2px solid white;
  height: 290px;
  position: absolute;
  top: 220px;
  left: 870px;
  z-index: 1;
}

#stamp {
  position: absolute;
  top: 170px;
  left: 1040px;
  z-index: 1;
}

#output {
  position: absolute;
  top: 300px;
  left: 900px;
  z-index: 1;
}
